#main{
  
}

#container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 2px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 3px 5px 30px;
}

#text-field{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 20rem;
  align-items: center;
}

#upload{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 30rem;
}

#b{
  border: none;
  border-radius: 20px;
  padding : 10px 30px;
  text-align: center;
  font-size: 20px;
  background-color: green;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

#b:hover {
  background-color: rgb(52, 78, 3);
  transition: .13s ease-in;
}

#bb{
  border: none;
  border-radius: 20px;
  padding : 10px 30px;
  text-align: center;
  font-size: 20px;
  background-color: green;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

#bb:hover {
  background-color: rgb(52, 78, 3);
  transition: .13s ease-in;
}

#text{
  width: 400px;
  height: 100px;
  border-radius: 20px;
  border-color: rgb(156, 92, 7);
  padding: 10px;
}